.card-user {
  width: 50px;
  border-radius: 50%;
}

.card {
  padding:10px 10px;
  margin: 10px;
  color: white;
  text-shadow:1px 1px rgba(0,0,0,0.2);



}
#home-flats{
  padding:100px 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

